# --- C/C++ (Embedded/Firmware) ---
*.o
*.obj
*.exe
*.out
*.bin
*.elf
*.hex
*.vcd
.pio/
.vscode/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
.python-version

# --- Hardware/Simulation Logs ---
*.log
*.jou
*.vcd
